<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Instance_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Instance_Manager.Properties.Settings>
            <setting name="SavedPosition" serializeAs="String">
                <value>1, 1</value>
            </setting>
            <setting name="ActiveProfile" serializeAs="String">
                <value>NotInitialized</value>
            </setting>
            <setting name="ProfilesDirectory" serializeAs="String">
                <value>NotInitialized</value>
            </setting>
            <setting name="CustomProfilesDirectory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedSize" serializeAs="String">
                <value>1, 1</value>
            </setting>
            <setting name="SavedExe" serializeAs="String">
                <value />
            </setting>
            <setting name="ToolName" serializeAs="String">
                <value>Instance Manager</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>v0.33</value>
            </setting>
            <setting name="IngoreVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="SuppressMissingDirectory" serializeAs="String">
                <value>False</value>
            </setting>
        </Instance_Manager.Properties.Settings>
    </userSettings>
</configuration>